.checkout {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
    height: max-content;
}

.checkout_title {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_left {
    width: 100%;
    display: flex;
    flex-direction: column;
}