* {
    text-decoration: none;
}

.header {
    align-items: center;
    background-color: #131921;
    display: flex;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_logo {
    align-items: center;
    color: #ff9f00;
    display: flex;
    margin: 0 25px;
}

.header_logo_img {
    margin-right: 10px;
}

.header_logo_title {
    border: 0;
    color: #fff;
    text-decoration: none;
}

.header_search {
    align-items: center;
    border-radius: 24px;
    display: flex;
    flex: 1;
    margin: 0 10px;
}

.header_search_input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.header_search_icon {
    background-color: #ff9f00;
    height: 22px !important;
    padding: 5px;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_item {
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto 10px;
}

.nav_item_one {
    font-size: 10px;
}

.nav_item_two {
    font-size: 13px;
    font-weight: 800;
}

.item_basket {
    align-items: center;
    color: white;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.nav_basket_count {
    margin-left: 18px;
    margin-right: 10px;
}